# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.venv/
venv/
*.tmp
*.bak
*.old

# Data & large files
datasets/*
!datasets/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
checkpoints_*/

# Logs
logs/
logs_*/

# Jupyter
.ipynb_checkpoints/
