# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
venv/

# Data & large files
data/
datasets/
checkpoints/*.pth
checkpoints/*.pt

# Logs & outputs
logs/
outputs/

# Jupyter
.ipynb_checkpoints/
